@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  font-family: 'Century Gothic';
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  padding-bottom: 200px;
  background-color:#C9E9EC !important;
}

:root {
  --clr-light: #f8ffe5;
  --clr-dark: #262425;
  --clr-accent: #ffc43d;
  --clr-turquoise: #06d6a0;
  --clr-blue: #1b9aaa;
  --clr-pink: #ef476f;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

/************navbar********************/

nav {
  z-index: 2;
}

/*****menu links**********************/

nav a.nav-link {
  font-weight: 14rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  font-size: large;
}

.navbar-nav li a {
  color: var(--clr-light) !important;
  margin-right: 0 !important;
  margin-left: 0.75rem;
}

.navbar-nav li a.active,
.navbar-nav li a.active:focus {
  border-top: 0.1875rem solid var(--clr-rose);
}

.navbar-nav li a:hover {
  text-decoration: none;
  background-color: var(--clr-pink);
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  padding: 8px;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

/* @media (max-width: 768px) {
  .navbar-toggler {
    width: 6rem;
  }
} */

/* displays responsive menu */
@media (max-width: 991px) {
 .collapse {
   display: block !important;
 }

 button.navbar-toggle {
   display: none !important;
 }
}
/***********header*****/

.header-wraper {
  position: relative;
  background: linear-gradient(rgba(32, 43, 51, 0.6), rgba(0, 0, 0, 0.6)),
    url(./pics/table.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--clr-turquoise);
  font-size: 4.5rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .header-wraper {
    height: 50vh;
  }
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}
/*******category page******/
.btn-lg {
  margin: 10px
}
.my-1,
.catH2,
.contBtn {
  text-align: center;
}

.categoryPara {
  font-weight: bold;
  font-size: 35px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


/*******typed-text******/
.typed-text {
  font-size: 2rem;
  color: var(--clr-blue);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/******header btn*****/
.btn-contact {
  border: 1px solid var(--clr-dark);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--clr-accent);
  font-size: large;
  cursor: pointer;
  margin: 2rem;
  text-decoration: none;
}

.btn-list {
  display: table-row;
}

.btn-contact:hover {
  text-decoration: none;
  background-color: var(--clr-pink);
  color: var(--clr-light);
  transition: 0.2s ease-in-out;
}

/***********particles********/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/******about********/

.description {
  text-align: center;
}
.deli {
  margin-top: 3rem;
  color: var(--clr-pink);
  font-size: x-large;
  font-weight: bold;
}
.photo-wrap {
  display: flex;
  justify-content: center;
}
.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--clr-turquoise);
}

.about-heading {
  color: var(--clr-turquoise);
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 4rem;
}

@media (max-width: 468px) {
  .description {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .profile-img {
    width: 10rem;
  }
  .about-heading {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: center;
  }
}

/******my account*****/

/*************categories*******/

.text {
  color: rgb(71, 52, 52);
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pro-wrapper {
  background: rgb(218, 199, 137);
  padding: 3rem 0;
}

.port-img {
  width: 20rem;
  height: 10rem;
  border: 2px solid var(--clr-blue);
  padding: 0 0.5rem;
}

.port-img:hover,
.port-item:focus {
  transform: scale(1.2);
  opacity: 0.25;
  cursor: pointer;
}
.port-img {
  transition: transform 750ms, opacity 250ms linear;
}

.pro-image-box {
  margin: 25px;
}
.image-box-wrapper {
  display: flex !important;
}
@media (max-width: 768px) {
  .text-uppercase {
    padding-top: 0;
    padding-bottom: 1rem !important;
  }
}

/*********popupbox*************/

.pro-img-popupbox {
  width: 15rem;
  padding: 0 0.5rem;
}
.link {
  cursor: pointer;
  color: var(--clr-rose);
}
.hyper-link:hover {
  cursor: pointer;
  color: var(--clr-blue);
}

.popupbox-wrapper {
  margin-top: 7rem;
}
/******media************/

@media (max-width: 768px) {
  .pro-img-popupbox {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pro-img-popupbox {
    width: 100%;
  }
}

/*********reviews**********/
.reviews {
  background-image: url(./pics/truffle1.jpg);
  background-size: cover;
  background-color: var(--clr-dark);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}
.reviews h1 {
  color: var(--clr-pink);
  font-weight: bold;
  padding: 3rem 0;
}

.rev-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: transparent;
}
.myCarousel {
  color: var(--clr-light);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}
.myCarousel h3 {
  color: var(--clr-accent);
  font-weight: 600;
}

.myCarousel p {
  color: var(--clr-light);
  background: hotpink;
  padding: 10px;
  border-radius: 10px;

}
.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}
.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}
.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

.pCarousel {
  font-weight: bold;
}
/******footer***********/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 2rem;
}

.footer a {
  text-decoration: none;
  color: var(--clr-rose);
}

.footer a:hover {
  text-decoration: none;
  color: var(--clr-pink);
  cursor: pointer;
}

.footer p {
  padding: 0%;
}
